body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111;
    color: #fff;
    align-items: center;
}
.logo span {
    color: #00aaff;
}
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}
.menu a {
    color: white;
    text-decoration: none;
}

/* Buttons */
.btn-primary {
    padding: 10px 18px;
    background: #00aaff;
    border: none;
    color: white;
    cursor: pointer;
}
.btn-secondary {
    padding: 12px 20px;
    background: #fff;
    border: 2px solid #00aaff;
    color: #00aaff;
    cursor: pointer;
}

/* Hero */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(to right, #002f4b, #004b6e);
    color: white;
}
.hero h1 {
    font-size: 48px;
}

/* Features */
.features {
    padding: 60px;
    text-align: center;
}
.feature-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.feature-box {
    background: white;
    padding: 25px;
    width: 270px;
    box-shadow: 0px 0px 12px #ccc;
    border-radius: 8px;
}

/* Counters */
.counters {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    background: #111;
    color: white;
}
.counter {
    font-size: 48px;
}

/* Contact Form */
.contact {
    padding: 60px;
    text-align: center;
}
form {
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input, textarea {
    padding: 12px;
    font-size: 16px;
}
